@import "tailwindcss";

@keyframes floaty {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.floaty {
  animation: floaty 6s ease-in-out infinite;
}
